html {
    font-size: 20px;
}
body {
  font-family: "Arial", "Meiryo", "sans-serif";
  text-align: center;
}

/* ひとつ文字装飾 */
.blue{
  color: skyblue;
}
.pink{
  color:  rgb(255, 192, 203);
}
.google-fonts {
 font-family: "Josefin Sans";
  font-optical-sizing: 40px;
  font-weight: 400;
  letter-spacing: 1.2em;
  font-style: normal;
  border-bottom: solid 3px rgb(115, 115, 114);
  text-shadow: 1px 1px 2px gray;
}
h1 {
    font-size: 2rem;
    font-family: "Josefin Sans"; 
}

#parent p {
  font-weight: bold;
}
